[submodule "AmeliaStorageLib"]
	path = modules/AmeliaStorageLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = storage
[submodule "AmeliaScriptingLib"]
	path = modules/AmeliaScriptingLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = scripting
[submodule "AmeliaCommonLib"]
	path = modules/AmeliaCommonLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = common
[submodule "AmeliaEventsLib"]
	path = modules/AmeliaEventsLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = events
[submodule "AmeliaLogLib"]
	path = modules/AmeliaLogLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = log
