[submodule "AmeliaStorageLib"]
	path = modules/AmeliaStorageLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = storage
[submodule "AmeliaScriptingLib"]
	path = modules/AmeliaScriptingLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = scripting
[submodule "AmeliaCommonLib"]
	path = modules/AmeliaCommonLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = common
[submodule "AmeliaLogLib"]
	path = modules/AmeliaLogLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = log
[submodule "AmeliaNetworkingLib"]
	path = modules/AmeliaNetworkingLib
	url = git@github.com:BarelyAPrincess/AmeliaLib.git
	branch = networking
[submodule "AmeliaUsersLib"]
	path = modules/AmeliaUsersLib
	url = git@github.com:BarelyAPrincess/AmeliaLib.git
	branch = users
[submodule "AmeliaAppLib"]
	path = modules/AmeliaAppLib
	url = git@github.com:BarelyAPrincess/AmeliaLib.git
	branch = app
[submodule "AmeliaPluginsLib"]
	path = modules/AmeliaPluginsLib
	url = git@github.com:BarelyAPrincess/AmeliaLib.git
	branch = plugins
[submodule "modules/AmeliaPermissionsLib"]
	path = modules/AmeliaPermissionsLib
	url = git@github.com:BarelyAPrincess/AmeliaLib.git
	branch = permissions
