[submodule "AmeliaLibCommon"]
	path = modules/AmeliaLibCommon
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = common
[submodule "AmeliaLibScripting"]
	path = modules/AmeliaLibScripting
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = scripting
[submodule "AmeliaStorageLib"]
	path = modules/AmeliaStorageLib
	url = git@github.com:TheAmeliaDeWitt/AmeliaLib.git
	branch = storage
